[2018-01-16 16:58] kelson42 opened #1 "Add writing capabilities"
We need to be able to write directly/onthefly ZIM file from nodejs... in particular in mwoffliner. This would simply so many things.

[2018-01-16 17:00] kelson42 commented on #1
This has been done already.

[2018-01-16 17:00] #1 closed

[2018-09-20 07:50] kelson42 opened #4 "Upload new version of libzim node package"
and move it an an officially supported package from openZIM (transmitt ownership from cscott or similar)

https://www.npmjs.com/package/libzim

[2018-09-20 07:52] kelson42 commented on #4
@cscott You should have an invitation link to join the team. That would be helpful if you accept it.

[2018-09-20 08:00] ISNIT0 opened #5 "Reduce number of Travis targets"
The last set of Travis build tasks took over two and a half hours to complete.
We're testing quite a few old versions of Node and ioJS which are in little use now.

I think we could get a way with the last 3 versions of NodeJS.

Thoughts?
@cscott
@kelson42

[2018-09-20 08:08] ISNIT0 commented on #5
I have made these changes in #3

[2018-09-20 08:35] kelson42 commented on #5
@ISNIT0 Sounds reasonable to me, the most recent one and the LTS sounds good enough to me.

[2018-09-20 08:36] ISNIT0 commented on #5
Okay, I'll set it up for:
- Latest (10+)
- LTS (8.12.0)

[2018-09-20 12:05] #5 closed

[2018-09-20 12:06] ISNIT0 opened #6 "Transition build to use LibZim from GitHub"
I've begun this work, but I'm not really sure what I'm doing - it seems LibZim has changed a fair bit and different things need to be imported/exported

[2019-02-12 17:38] ISNIT0 opened #8 "Code Review"
Hi @mgautierfr,
I would really appreciate your review of this CPP code. I have very little knowledge of best practices, and I feel there are likely to be silly errors!

(CC'd: @kelson42 )

[2019-02-18 09:56] mgautierfr commented on #8
https://github.com/openzim/node-libzim/blob/e41231d929e5c1442bdf52a5235584b7371857be/src/ZimReader.cc#L22-L27

This would means that there is only one ZimReaderWrapper.
The `static` inside the method means that `rw` is stored in a static memory (ie a global memory common to all "call" to `create`).
On a more global pov, why the wrapper is needed at all ? It simply store a `zim::File` and does noth

[2019-02-18 15:04] ISNIT0 commented on #8
The wrappers are needed for compatibility with `nbind` unfortunately. I think both of these suggestions are not possible with `nbind` 😢

This is all using only one pointer, the `Promise` and `async` are in-fact just single threaded 😄

[2019-02-19 15:51] mgautierfr commented on #8
Why do you need two classes ? The manager and the wrapper could be the same class. Even more if there is only one creator/reader.

[2019-02-19 15:56] mgautierfr commented on #8
You must also destruct the zimCreator (and Reader) at a moment. (`delete cw._c`)
Else the temporary files are not deleted. (See openzim/mwoffliner#568)

[2019-02-21 18:25] kelson42 commented on #4
Done

[2019-02-21 18:25] #4 closed

[2019-02-21 18:30] kelson42 commented on #6
Done

[2019-02-21 18:30] #6 closed

[2019-03-07 21:08] #8 closed

[2019-04-29 07:56] ISNIT0 opened #10 "Memory Leak"
It seems `node-libzim` grows go use a lot of memory quite quickly when adding articles.

The problem seems to disappear when I comment out this line: https://github.com/openzim/node-libzim/blob/master/src/ZimCreator.cc#L53
(Which actually calls into `libzim`) I'm not sure If we need to explicitly delete something on `node-libzim` after the call to `addArticle()`

To reproduce the issue, clone the

[2019-04-29 13:45] mgautierfr commented on #10
Well.... There is a small memoryleak but it is "only" about 400Mo. The other memory usage is more a "normal" use of the memory.
All the rest of the comment is made with the memoryleak in libzim fixed.

zimWriterCreator need to keep a reference (a structure somewhere) to the dirent.
The dirent is small structure that store the metadata about the article. It store the article title, url, aid, the cl

[2019-04-29 14:03] ISNIT0 commented on #10
@mgautierfr So, to be clear:
There was a memory leak in libzim, but it has now been fixed?
If the above is true, we can do a new release of `node-libzim` once `libzim` has been released which will solve this issue, and then a new release of `mwoffliner` which will fix https://github.com/openzim/mwoffliner/issues/706

[2019-04-29 14:10] mgautierfr commented on #10
@ISNIT0, yes it is a memory leak in libzim.  But it is about a 16% of the memory use.
The memory will still increase linearly, this reduce the slope of the line (and we may do better) but it will not change the fact the it is a linear increase.

[2019-04-29 14:14] ISNIT0 commented on #10
So there will always be a linear increase, no-matter what is done on the `node-libzim` side?

@kelson42 This means that there will always be a linear increase of memory in mwoffliner. Is this okay?

[2019-04-29 14:14] kelson42 commented on #10
@ISNIT0 I suspect your test is not really representative of the problem of https://github.com/openzim/mwoffliner/issues/706. no.wikipedia.org has only half a million of articles and we talk about 9GB of memory consumption (4x more than in your example)... so you probably need to update the test.

[2019-04-29 14:23] mgautierfr commented on #10
The test use relatively short url. As c++ `std::string` stores short string in the `std::string` structure directly there is no need for more memory that the dirent itself (the string is already count in the 200bytes). In a real case, the url will be longer and the `std::string` will need to allocate another memory to store the string. And so, the memory usage will be bigger.
What we have here is

[2019-04-29 16:06] ISNIT0 commented on #10
@mgautierfr I've updated the repo.

You can now run:
[code]

It will execute `src/test.ts`
The key thing is that for each article it will create images and redirects:
[code]

[2019-05-16 21:11] OTLabs opened #12 "How to do not download libzim on Linux?"
The `libzim` package is already provided on Alpine Linux distribution. I would like to use that binary.

Is it possible to do not download `libzim` and made use of already installed package?

[2019-05-17 01:06] kelson42 commented on #12
@OTLabs My short answer would be: theoretically yes, practically no.

[2019-05-17 01:19] OTLabs commented on #12
@kelson42 Ok. Thank you.

Would it be possible to modify `node-libzim` so the `rpath` for `.so` will not include `/home/...` (it would be perfect to have an option to strip/prefix `rpath`, something like `/usr/...` would be great)?

I am building the `mwoffliner` package for Alpine Linux and post-check complains for `rpath` having `/home/...` so no flight. I already have `libzim[-dev]` package bui

[2019-05-17 01:23] kelson42 commented on #12
@OTLabs I think future versions of libzim binaries (new one to be released soon) won't use any rpath. @mgautierfr could you confirm?

[2019-05-17 01:29] OTLabs commented on #12
Thank you.

[2019-05-18 10:18] ISNIT0 commented on #12
@OTLabs This is technically a simple change, the only thing is `gyp` is a horrible build system and it makes the config much more complicated.

The file that would need modifying is `build/native/binding.gyp`, and would need something like this added:
[code]

[2019-05-18 10:21] ISNIT0 commented on #12
@OTLabs If you can write up something that creates a variable called `libzim_external` which takes into account an external flag and falls back to the current `linux`/`mac` behaviour I'd be really happy to merge it :)

[2019-05-18 20:50] OTLabs commented on #12
@ISNIT0 I really appreciate a lot your kind answer.

It would be my real pleasure to submit corresponding PR as I am so exited with all openzim software but I have no any experience with `gyp` and what I have seen about it makes me think that the task to add an above mentioned variable is far beyond my current skills.

Meanwhile I have tried to hack `build/native/binding.gyp` making configuration

[2019-05-21 16:14] ISNIT0 opened #14 "Batch 'addArticle's"
The majority of CPU time in CPP (18.8%) when using node-libzim seems to be calls to `v8::internal::Builtin_HandleApiCall`.

I'm not sure how much it would improve the performance, but we could try creating an `addArticles` method in CPP and automatically batch the adding on the JS side.
This would keep the same simple API, but **potentially** improve performance

[2019-05-22 09:00] kelson42 commented on #14
@ISNIT0 Have a look to https://github.com/nodejs/node/issues/17996, might be completely insignificant.

[2019-05-22 10:54] ISNIT0 commented on #14
@kelson42 in that issue, the total percentage was 0.1%, in our case it's 18.8%, so I think it matters much more for us 😀

[2019-05-29 12:40] ISNIT0 opened #15 "Main page is not written properly in zim file (with libzim5)"
From MWOffliner, when using a test version of `node-libzim` that uses `libzim@5.0.0`, I'm having a few issues:
Libzim5: https://framadrop.org/r/huzMScpAk2#6R+nHkKFfkF6qIP8QXkjz1mhQFqQDDz81pDfGjuB79I=

Same MWO code, with Libzim4: https://framadrop.org/r/nKG5incWfW#WFGLLf3Mz/0bsB8yQPjempBrGGNV/r9DubMTQgSMIhc=

- The main page is not being set
- On Kiwix Mac, searching sometimes causes crashes

[2019-05-30 10:20] ISNIT0 commented on #15
Sorted, thanks!

[2019-05-30 10:20] #15 closed

[2019-05-30 17:19] ISNIT0 opened #18 "Broken Travis Build"
I can't reproduce this issue on Mac (where the latest version of libzim is installed to the system).

I can, however reproduce in Docker using this Dockerfile:

[code]

You should see the error when running the built image

EDIT: I retried on my VPS, and I get the same error

[2019-05-30 17:25] ISNIT0 commented on #18
The only place I see this breaking is cases that the binary is downloaded from the CDN

[2019-05-30 17:48] kelson42 commented on #18
@mgautierfr @ISNIT0 I think this is the piece to read https://wiki.debian.org/GCC5#libstdc.2B-.2B-_ABI_transition

[2019-05-30 17:51] ISNIT0 commented on #18
The node-libzim travis file is `xenial` and `gcc-4.8` (tried `4.9` but it broke).

We also set `-D_GLIBCXX_USE_CXX11_ABI=0` https://github.com/openzim/node-libzim/blob/master/build/native/binding.gyp#L27

[2019-05-30 18:53] #18 closed

[2019-05-31 09:01] kelson42 commented on #10
AFAIK most of this this should now be fixed in libzim 5.0.0. A new ticket should be open if we still have something to work on here.

[2019-05-31 09:01] #10 closed

[2019-06-06 09:53] ISNIT0 opened #20 "Favicon Redirect"
When calling the latest version of node-libzim from MWOffliner, I get a warning:
`Invalid redirection  redirecting to (missing) -Favicon`
It seems a slash is missing between the `-` and `Favicon`

The Favicon redirect code in node-libzim is here:
https://github.com/openzim/node-libzim/blob/master/src/ZimCreator.ts#L90
Which then calls here:
https://github.com/openzim/node-libzim/blob/master/src/Ar

[2019-06-06 10:44] kelson42 commented on #20
@ISNIT0 I think you have fixed this?

[2019-06-06 10:45] ISNIT0 commented on #20
No, I believe it's an issue in in libzim

The same code behaves fine for all other articles, it's just the Favicon that seemingly doesn't get the slash in the redirect

[2019-06-06 16:08] #20 closed

[2019-06-07 08:22] kelson42 opened #21 "Missing slash in error message"
`Invalid redirection redirecting to (missing) -Favicon`
It seems a slash is missing between the - and Favicon

[2019-07-30 11:49] kelson42 opened #24 "New release with libzim 5.0.1"
This is needed to secure https://github.com/openzim/libzim/issues/243 will be fixed in Zimfarm (through next MWoffline release).

See http://download.openzim.org/release/libzim/

[2019-07-30 11:50] kelson42 opened #25 "node-libzim should have a CHANGELOG file"
So we can track what has changed from one release to an other.

[2019-08-16 14:51] kelson42 commented on #24
This has been done

[2019-08-16 14:51] #24 closed

[2019-08-16 15:03] #25 closed

[2019-09-05 07:06] kelson42 opened #29 "Move npmjs package from "openzim/libzim" to "libzim""
@ISNIT0 You should have access now.. and update MWoffliner dependence

[2019-09-10 08:02] mgautierfr opened #30 "Articles and `shouldIndex` method."
I'm not sure it is a bug. But I prefer to speak about it for nothing than be quite when I should speak :)

With the last change in libzim 6.0.0, the `shouldIndex` should also return `true` for redirect article if needed.
"If needed" means that if the user can search for the article (probably any html article, but not mandatory). Whatever if the article is a plain article or a redirect one.

[2019-09-10 08:07] kelson42 commented on #30
@ISNIT0 What @mgautierfr says sounds correct. Could we fix it? What is the current impact of not doing it properly?

[2020-02-29 16:08] kelson42 opened #31 "Move to https://nodejs.org/api/n-api.html"
nbind is not supported and N-API seems mature/good enough

[2020-03-02 18:48] kelson42 opened #32 "Publish for macOS"
Currently we publish for GNU/Linux only.

[2020-03-02 18:49] kelson42 commented on #32
Depends on https://github.com/kiwix/kiwix-build/issues/349

[2020-03-31 14:16] kelson42 opened #34 "Provide API to allow to avoid fulltext index"
Currently this seems to somehow be implicitly done based on the fact of a language is given or not for the indexing. This sounds wrong because you need the language for the stemming of the Xapian Title index.

[2020-04-30 00:03] kelvinhammond commented on #31
@kelson42 is this still an issue?

[2020-04-30 05:08] #31 closed

[2020-04-30 07:53] kelson42 opened #36 "Re-architecture the node binding"
The current node binding does not respect the libzim reader/writer patterns. This should be rewritten to respect it (like the the python-libzim binding does).

[2020-04-30 07:54] kelson42 commented on #36
@mgautierfr I would be happy if you could give a few guidelines/things to respect to do that work properly.

[2020-04-30 07:55] kelson42 commented on #31
@kelvinhammond Thank you very much again for this really important fix. @midik is currently working on a release of it which should be used in next MWoffliner minor release (in the next days). I have as well open a ticket to rearchitecture that binding in a way which is more respectful of libzim design, see #36.

[2020-04-30 07:56] kelson42 commented on #29
Probably this shoudl be done, one time #36 has been implemented.

[2020-05-04 14:09] mgautierfr commented on #36
First, you have to consider the reading part and the writing part as two different libraries. They are in the same repository and share few common structure name (as `Article`) but they are totally different (in usage and code behind).

- On the reading part. The `Article` is a "view" on what is inside the zim file. `Article` contains nothing. When you call a method (`getTitle`) then libzim search

[2020-05-05 05:02] kelvinhammond commented on #36
@mgautierfr I have a few questions about libzim's architecture regarding this.

1. Why aren't `zim::Article` and `zim::writer::Article` sharing a common subclass such that `zim::writer::Article` can be polymorphic and interfaces can simply use `zim::Article *`?
2. Why is there no way to create a `zim::Blob` and have it manage the data stored internally instead of an external pointer to the data? I

[2020-05-05 05:19] kelvinhammond commented on #34
@kelson42 @mgautierfr Will setting `shouldIndex = false` avoid the full text index or will this break other things too? See [Line 112](https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L112) and [Line 132](https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L132).

I'm not sure what Line 112 `data->nbIndexArticles++;` does / is used for.

It also seems like sett

[2020-05-05 06:11] kelson42 commented on #34
Yes, this is the part which is wrong. Probably should be fixed within #36.

[2020-05-05 08:29] mgautierfr commented on #36
Because they are nothing in common (even if few methods have the same name). You use inheritance, `B` inherits `A`, when `B` is a specific `A`. When you can pass a `B` to a code waiting for a `A`. Here `zim::writer::Article` is not a a specific `zim::Article` (libzim cannot give you a writer article when you are asking for a specific article of a zim file). The same way, `zim::Article` is not a `z

[2020-05-05 08:39] mgautierfr commented on #34
Line 112 is just about logging information.

`shouldIndex` methods is about "Should we index the article to allow the user to search for it ?". The answer is based on the "type" of the article, not on the fact that you want fulltext index or not. Probably that you want to index html article and not image/css/js ones. But it is not always the case. Some html articles may not have to be indexed for

[2020-05-05 16:01] kelson42 commented on #36
@kelvinhammond Would be happy to invite you to our Slack channel if you are interested.... because part of the discussion around node-libzim and MWoffliner just happen there. Just write me an email to kelson at kiwix . org to get an invitation.

[2020-05-05 16:35] midik opened #38 "Unable to set main page + wrong mime types"
Tested with `mwoffliner 1.10.6` on `edutech` wiki.
Branch: `master`
Node: `10.16.x`

[code]

`single.tsv` content:
[code]
### Results with 2.1.0 (works)
Zim file [2.1.0.zim.gz](https://github.com/openzim/node-libzim/files/4582047/2.1.0.zim.gz)

[code]
![image](https://user-images.githubusercontent.com/6795530/81088856-3fb9be00-8f04-11ea-8cf1-fdbce852bac3.png)

[code]

### Results with 2.1.1 (broke

[2020-05-05 16:39] midik commented on #38
upd: [mime types dump](https://github.com/openzim/node-libzim/files/4582144/mimeTypes-2.1.1.txt)  taken on 2.1.1 in `ZimCreator.addArticle()`

[2020-05-05 17:43] midik commented on #38
more clues (2.1.0 vs 2.1.1)
![image](https://user-images.githubusercontent.com/6795530/81097779-0b003380-8f11-11ea-9169-85320bb508a8.png)

[2020-05-05 18:01] kelson42 commented on #38
@kelvinhammond Any idea?

[2020-05-06 06:54] kelson42 commented on #38
@mgautierfr I have a kind of suspission here this is related to the new way we save the ZIM header because both mainpage and mime-types are things stored in the ZIM header. An intuition here about the rootcause?

[2020-05-06 07:18] midik commented on #38
as for typescript part, it seems like we call the binding methods with correct data (both main page and mime types).

[2020-05-06 07:55] kelson42 commented on #38
@midik @kelson42 OK, if this clear I would wait the feedback of @mgautierfr on this before any further investigation.

[2020-05-06 16:09] mgautierfr commented on #38
On the main page, there is a small change in the api with the last version.
`getMainUrl`, `getLayoutUrl` and `getUuid` have been set to `const`.
If you do not change it in the wrapper, you don't overwrite the method and libzim will the default implementation (no main page).

For the mimetype, I don't know. One thing for sure is that in the 2.1.1.zim file there is only `application/octet-stream+xap

[2020-05-06 16:42] midik commented on #38
mwoffliner: [wpen-testing](https://github.com/openzim/mwoffliner/releases/tag/wpen-testing)
#### Works
node-libzim: [2.0.18](https://github.com/openzim/node-libzim/releases/tag/v2.0.18) - (I wrongly mentioned 2.1.0 above)
libzim: 6.0.0 (as defined in `.env`)
#### Broken
node-libzim: [this branch](https://github.com/openzim/node-libzim/tree/debugging-and-jest-coverage)
libzim: 6.1.1 (as defined in

[2020-05-06 17:52] mgautierfr commented on #38
The pb is in node-libzim.
In 2.0.8 (https://github.com/openzim/node-libzim/blob/v2.0.18/src/Article.ts#L43)
the mimetype is inferred from the url if it is not provided.
If `debugging-and-jest-coverage` branch (https://github.com/openzim/node-libzim/blob/debugging-and-jest-coverage/src/article.cc#L72-L74) "text/plain" is used if it is not provided.

As there is several place in mwoffliner where you

[2020-05-06 18:02] kelson42 commented on #38
@mgautierfr Thank you
@midik If the mime-type is not set then the node-libzim should auto-detect it based on the "file" extension. But is you easily know it, would be better to tell it properly.

[2020-05-06 18:31] midik commented on #38
Well, auto-detection logic has been removed during n-api migration [here](https://github.com/openzim/node-libzim/commit/315fe35e9160f36f5a30fbf62dbbd10bfbe53e35) along with ZimArticle class. That's probably why mime-type used to set correctly before. Mwoffliner doesn't always provide mime-type while calling addArticle(), that's the way it's always been. I'll fix that.
@mgautierfr thank you for you

[2020-05-06 19:15] kelson42 commented on #38
@midik This removal is an error. Considering that this logic is quite common to all scraper, I would try to avoid it to have it in MWoffliner.

[2020-05-07 08:56] midik commented on #38
fixed: [edutechwiki_fr_single_2020-05.zim.gz](https://github.com/openzim/node-libzim/files/4591877/edutechwiki_fr_single_2020-05.zim.gz)
@kelson42 please review the PR

[2020-05-07 09:20] midik commented on #38
btw confirmed that it works on node v14.2.0 (that gonna become LTS later this year)

[2020-05-07 09:41] midik commented on #38
Metadata comparison
![image](https://user-images.githubusercontent.com/6795530/81279338-abfd0480-905f-11ea-9a88-3c65c4f4b6ff.png)

Fileinfo comparison
![image](https://user-images.githubusercontent.com/6795530/81279650-16ae4000-9060-11ea-8182-0fe0fd724c26.png)

[2020-05-07 10:16] #38 closed

[2020-05-07 13:41] kelson42 opened #39 "CI should publish automatically to npmjs if new release tag"
Like on our other projects

[2020-05-13 09:05] kelson42 opened #41 "New synchronisation bug?"
If I just do that:
[code]

Which means just waiting 5 s. before finishing the ZIM files, then I get a crash in the libzim:
[code]

But if I wait 4900 ms. instead of 4 s. then it pass.

That looks really like a bug, we should be able to wait as long as needed and continue without any problem.

[2020-05-13 14:51] mgautierfr commented on #41
This may be related to https://github.com/openzim/libzim/issues/333.
I cannot reproduce with a libzim compiled on my computer.
Using a release build have a issue (but not the same, the zim file is 0 byte)

[2020-05-14 12:20] mgautierfr commented on #41
I'm not a node expert (at all) and I don't know what you path does exactly.

But if I add a `console.log("after sleep");` just after the `await sleep()`, it is never called. If a comment the `await sleep()`, the log is printed.

I have think about a test timeout stopping the test before it finish. The default timeout is 5000 (https://jestjs.io/docs/en/cli#--testtimeoutnumber), but running the test

[2020-05-14 13:01] kelson42 commented on #41
@midik Your expertise is needed here I guess.

[2020-05-14 15:49] midik commented on #41
This is not a pb with node-libzim but with a test timeout. So @mgautierfr you're looking at the right direction ;) Default timeout for jest is 5000 ms, and we have two options to override it:
- per-module: using `jest.setTimeout(10000);` directly in a test module, after `import` block;
- globally by passing `--testTimeout` parameter. Just only point is how we need to pass it.

This way we pass the

[2020-05-14 15:49] #41 closed

[2020-05-14 15:50] kelson42 commented on #41
@mgautierfr @midik So sorry about the wrong bug report :(

[2020-05-15 12:31] midik commented on #39
[done](https://github.com/openzim/node-libzim/commit/8420379e4501a15f5f4109cdf0ac7a78657c056e)

[2020-05-15 12:32] #39 closed

[2020-06-24 13:52] kelson42 commented on #32
We have now the binaries for macOS published, see https://download.openzim.org/release/libzim/libzim_macos-x86_64-6.1.6.tar.gz for example

[2020-06-25 08:40] bakshiutkarsha commented on #32
@kelson42 Yes it would be a good learning experience for me and would be beneficial to all JS contributors(for macOS). I can take up this ticket.

[2020-06-27 13:09] kelson42 commented on #29
Should be donw with #36

[2020-07-05 15:51] kelson42 commented on #30
@mgautierfr Is that still an actual bug? Notnsure I fully understand it anymore.

[2020-07-06 07:18] mgautierfr commented on #30
I don't know. Does node-libzim correctly return `true` for `shouldIndex` if the article has to be indexed ?

[2020-07-06 07:25] kelson42 commented on #30
@mgautierfr I don't know... but I don't have complained about the problem.

[2020-07-06 07:29] kelson42 commented on #30
@mgautierfr Does that mean MWoffliner works properly here? https://github.com/openzim/mwoffliner/blob/master/src/mwoffliner.lib.ts#L477

[2020-07-06 07:33] mgautierfr commented on #30
It seems you always return `true` for redirect articles. If redirect articles are always article to be indexed you are good. Else, you should return true only if you want to index them.

[2020-07-06 07:37] kelson42 commented on #30
@mgautierfr Looks good to me.

[2020-07-06 07:37] #30 closed

[2020-07-06 14:53] #32 closed

[2020-07-06 15:02] rgaudin opened #44 "Clean-up npm package"
Here's the output of `npm publish --dry-run`

[code]

As you can see, it contains a lot of files that probably shouldn't be submitted: all of the `build` folder for instance (maybe others).
This is all present in the current online package as can be verified with `npm pack @openzim/libzim`

[2020-07-06 15:13] rgaudin opened #45 "Clarify CI"
The CI runs twice on a matrix over a `$PLATFORM` environ (either `native_static` or `native_dyn`) which is apparently not used.

publish.sh mentions it to trigger the publication only once:

https://github.com/openzim/node-libzim/blob/d635e150454b87e97b7cc60ac1c6f51e23cc41cf/dev/publish.sh#L2

So either this is a CI issue (looks copied over from kiwix-build) and we're running tests twice for nothi

[2020-07-06 15:13] rgaudin commented on #45
I guess the CI should be migrated to github actions also…

[2020-07-07 07:13] kelson42 opened #46 "Make ZIM creator compression algorithm configurable"
Latest git master head of the libzim allows to specify the compression algorithm in the ZIM creator constructor (optional). This is necessary to start to experiment with zstd compression. The node-libzim should be adapted to allow javascript users to use this new feature.

[2020-07-14 08:19] #44 closed

[2020-07-17 13:20] #46 closed

[2020-10-23 15:39] eranhr opened #50 "can't install on OSX"
Trying to install libzim on mac but with no success. Tried to follow "On MacOS you'll need to install libzim separately ([see here](https://github.com/openzim/libzim/))." but also didn't succeed. Any assistance / guidance will be appreciated.

My goal is to read ZIM files (from JS/nodejs) into my DB.

[2020-10-23 15:42] kelson42 commented on #50
Installing from npmjs.org should just make it, the README is outdated. Please secure you don't have installed it manually and just install `node-libzim` via npm.

[2020-10-23 15:44] kelson42 commented on #50
README.md fixed.

[2020-10-24 09:49] kelson42 commented on #50
@eranhr Closing the issue please open a new ticket if you still have a problem with standard npm install process.

[2020-10-24 09:49] #50 closed

[2020-10-25 15:21] eranhr opened #51 "Error by install on macOS Catalina 10.15"
Hi, running "npm i libzim" and the result is an error. it is looking for https://github.com/cscott/node-libzim/releases/download/1.0.0/zim-v1.0.0-node-v79-darwin-x64.tar.gz which seems to be wrong (**the /download/** section)

Thanks

terminal output:

[code]

[2020-10-26 11:52] kelson42 commented on #51
Readme was misleading. Fixed, see https://github.com/openzim/node-libzim/commit/6ea9c52cbde3ed44a87ba908a2f267baf0258988#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

[2020-10-26 14:18] eranhr commented on #51
still not working...

[2020-10-26 14:20] kelson42 commented on #51
@eranhr What is exactly your Operating System?

[2020-10-26 14:23] eranhr commented on #51
Catalina 10.15.7

[2020-10-26 14:37] kelson42 commented on #51
@rgaudin Would you be able please to check if you have a similar behaviour?

[2020-11-08 12:11] eranhr commented on #51
I thought I found a way to install node-libzim but it still reporting an error (on two different macOS computers). When I run `npm i openzim/libzim` I get this error:
[code]
when I run `npm i libzim` I get this errors:
[code]
please notice line 17 in the console log output.

thanks!

[2020-11-08 12:27] kelson42 commented on #51
Please open a new ticket and show the log for installing openzin/libzim.

[2020-11-08 12:28] #51 closed

[2020-11-08 12:53] eranhr opened #52 "error installing on macOS"
installing node-libzim still reporting an error (on two different macOS computers).

When I run `npm i openzim/libzim` I get this error:
[code]

when I run `npm i libzim` I get this errors:

[code]

please notice line 17,18 and 19 in the console log output.

thanks!

[2020-11-08 13:47] kelson42 commented on #52
@eranhr I have requested two times ti log for openzim/libzim and you keep delivering log for package libzim. Package libzim is deprecated for the moment.

[2020-11-08 13:48] #52 closed

[2020-11-08 16:22] eranhr commented on #52
I gave log for both cases. here again the output for openzim/libzim:

[code]

[2020-11-08 16:23] eranhr opened #53 "error installing under macOS ($ npm i openzim/libzim)"
When I run `npm i openzim/libzim` I get this error:

[code]

[2020-11-21 09:13] kelson42 commented on #45
@MananJethwani is working on migrating the CI to actions.

[2020-11-21 11:32] kelson42 commented on #53
Please share the full debug log

[2020-11-22 05:57] eranhr commented on #53
macOs catalina 10.15.7 (19H2)

adding log file and then terminal output:

**log file:**

**Terminal output:**

[2020-11-22 05:59] eranhr commented on #53
I'm pointing you again to this line of code in the package installment:

which is an invalid URL... and this is the response to this line of code:

[2020-11-22 08:30] kelson42 commented on #53
For the thousand time, please stop providing a log for package libzim. I want the log for the package openzim/libzim.

[2020-11-22 10:46] #45 closed

[2020-11-22 13:42] eranhr commented on #53
be more polite please.

**terminal output:**

log file:

[2020-11-22 15:11] kelson42 commented on #53
There is nothing in the log you have provided which can help me to understand what goes wrong here.

[2020-12-02 11:21] eranhr commented on #53
Tried it in 3 different macos. never mind. will find some other ways to read zim files.

[2020-12-08 06:55] kelson42 commented on #53
Please leave this ticket open. I want to see further comments and investigations first.

[2020-12-22 16:43] kelson42 commented on #53
@eranhr Why do you keep closing this ticket although I ask to keep it open?

[2021-01-03 20:30] kelson42 commented on #53
Quite sure meanwhile this has been caused by an outdated version of npm.

[2021-01-03 20:30] #53 closed

[2021-10-08 05:09] kelson42 opened #69 "Move to libzim7"
Libzim7 has just been published and provides a lot of improvements. But the API has slightly changed, so we need to adapt our code. Probably also a good opportunity to clean a few things in the CI and the doc.

[2021-10-17 17:08] kelvinhammond commented on #69
@kelson42 I'll start on this most likely around October 27th, 2021. I don't think this will take too long to do

[2021-10-17 17:19] kelson42 commented on #69
@kelvinhammond Really glad to hear it. Thank you again very much. Let me know if you have questions. We have just published the Python libzim binding so we have two developers who have done something similar. You can also write to me an email at kelson at kiwix.org to get an invitation to our Slack. The last week of october is really a good time as we have a meetup at that time. Therfore people wi

[2021-10-29 18:05] kelvinhammond commented on #69
@kelson42 I'm looking into how I can implement the bindings for the creator efficiently (least amount of code) as you can subclass the Item(s) class, based on what I saw in the python module.

What do you think of this for the new module exports / api?
This is a rough draft based on what I understand so far about the new api.

Questions:
- EntryIterator: Does this seem OK? To get all the results y

[2021-10-30 08:35] kelson42 commented on #69
@kelvinhammond Great to see progress on this. I will let @rgaudin  and @mgautierfr answering your technical questions. They have respectively built/updated the Python binding and the libzim(7). You should be in best hands :)

[2021-10-30 08:55] rgaudin commented on #69
- The entry iterators look fine. That's exactly what's needed. That's something we haven't implemented yet on pylibzim but you got it right.

- My understand of your question is that you would expose the `SearchResultSet` in JS and users would consume it. It doesn't seem appropriate as we don't want JS users to use this specific API (`.begin()` and all). If your question was whether to construct a

[2021-10-30 09:45] mgautierfr commented on #69
Hi @kelvinhammond, glade to see you working on this.

I'm not sure to understand correctly your question about reference and searchiterater (the notion of reference may be a bit different between cpp and nodejs)
But here some general consideration to have in mind :
- zim objects are cheap to copy. They do not store (big) data but reference them internally.
- zim objects are autonomous. If you have

[2021-11-01 15:44] kelson42 commented on #69
@kelvinhammond Let me know if you need more things to discuss, we can invite you as well to our Slack channel to get a quicker/better way to discuss these complex topics.

[2021-11-06 23:41] kelvinhammond commented on #69
@kelson42 mind if I add an `in-progress` tag to this ticket?

I'm a bit slow, as I'm working and life, but I am working on this.

[2021-11-07 07:18] kelson42 commented on #69
@kelvinhammond Of course! Maybe we shoukd split this ticket in a few subs one?

[2021-11-17 04:43] kelvinhammond commented on #69
FYI, updating dependencies as part of this

- got rid of the vulnerable packages, may trim them down later.
- updated node-addon-api (napi) to latest version so I could have `BigInt` support for the 64bit integers (`size_t`) used by `zim::Archive`.

[2021-11-25 05:34] kelson42 commented on #69
@kelvinhammond If you have something, feel free to open a draft PR.

[2021-11-30 00:01] kelvinhammond commented on #69
@kelson42 How do you feel about this being header only? I'll make a PR once I'm to that point, I ran into some issues with error catching and had to rewrite some things. https://github.com/nodejs/node-addon-api/issues/1104

[2021-11-30 07:51] kelson42 commented on #69
@kelvinhammond Nice to see you are still on it. I know this is not an easy job. Let me know if you need anything I could help with.

[2021-12-02 01:29] kelvinhammond commented on #69
Progress so far:

Done plus notes:
- Archive
  - `getMetadataItem`: must wait for the next version, its implemented but commented out
  - `getUuid`: implemented using `std:ostringstream`, cast to `std::string` fails with `undefined symbol: _ZNK3zim4UuidcvNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEEv`
- Entry
- Item
- Blob
  - Don't have a way to do a readonly buffer and `zim::Blob` is `co

[2021-12-04 02:11] kelson42 commented on #69
@rgaudin @mgautierfr Any feedback, in particular regarding the readon,y zim::blob. If possible we shoukd avoid the copy, and I’m sure you had a similar problem with pylibzim.

[2021-12-16 19:27] kelvinhammond commented on #69
Working on a `ContentProvider` binding implementation. I'm thinking of following the python binding's method for the Item but allowing custom `ContentProvider` implementations somehow by calling javascript functions but I need to wrap the ContentProvider with a custom `JavascriptContentProviderWrapper` or whatever class. Any input before I proceed.

FYI: modified the `Writer.startZimCreation` in t

[2021-12-16 19:28] kelvinhammond commented on #69
Also of note, the long delays here are because of work, life, et cetera. Working on this on and off, almost done :D

[2021-12-18 11:12] kelson42 commented on #69
@kelvinhammond Glad to read your last update. Without giving you a detailed feedback about the architecure change, I'm quite sure this is good to have a similar pattern like python-libzim. Because this has been strongly discussed and improved over the past two years, whereas the node-libzim is older and has been made by a junior dev.

We just need to remember that we will have to test the new node

[2021-12-22 06:10] kelvinhammond commented on #69
Working through some threading issues here https://github.com/nodejs/node-addon-api/issues/1113

[2021-12-27 17:07] kelvinhammond commented on #69
@mgautierfr @kelson42  After looking more into threading I have found a few issues.

### Context
- Javascript being single threaded and event loop based means I can only run one line of javascript at a time.
- The call to `Creator.finishZimCreation` blocks the calling thread, spawns other threads, and waits for those to finish.
- To work around this I can use an `AsyncWorker` to spawn and thread t

[2022-01-03 10:40] mgautierfr commented on #69
It is a pity that js is singlethreaded only. This is almost the same with python which has a global lock to protect the whole interpreter (and the python structures) from race condition.
But we can explicitly release the lock and acquire it when needed. This allow use to have libzim calling back python code from different threads (even if the python code is run single threaded). Maybe there is som

[2022-01-28 05:43] kelson42 commented on #36
@kelvinhammond To which extend #72 fixes this ticket?

[2022-01-29 02:17] kelvinhammond commented on #36
@kelson42 You're still going to have issues with the copying, I haven't figured out a way to avoid that in nodejs. We now have the threading issue where we can't easily create custom content creators.

[2022-02-06 03:25] kelvinhammond commented on #69
@mgautierfr I figured out a way to allow multi-threading, they are still bound by the single threaded event loop in nodejs but they should be io bound during multi-thread processing. These changes are in the new PR.

@kelson42 I just need to write tests, add `BasicItem`, and then update the mwoffliner. I'll try to make more time to finish this.

[2022-02-06 08:36] kelson42 commented on #69
@kelvinhammond Somgreat to hear this! You make my day! Wish you a good WE!

[2022-02-14 03:54] kelvinhammond commented on #69
@kelson42 @mgautierfr Do we need to use / support typescript for this project? If not, I can omit and and just export the bindings without defining the typescript interfaces.

[2022-02-14 05:28] kelson42 commented on #69
@kelvinhammond Yes, typescript is important. We do our best to write robust code.

[2022-02-21 23:03] kelvinhammond commented on #69
Working on figuring out typescript still, I no longer need the `.ts` files. The `zim.js` ends up being the below because everything is in C++ now.

[code]

[2022-02-21 23:03] kelvinhammond commented on #69
@kelson42 How do I get into your slack? And who can help with typescript?

[2022-02-22 05:46] kelvinhammond commented on #69
The problem I'm currently running into is that the `@types/bindings` https://www.npmjs.com/package/@types/bindings returns a binding of `any` for each of the imported classes and I can't easily override this as far as I can tell.

Do I just leave it as `any` which pretty much defeats the purpose of typescript or what?

[code]

[2022-02-22 06:33] kelvinhammond commented on #69
This is messy but it works, I'll continue from here unless you have a better idea.

Normally I'd just do it in js and create a `zim.d.ts` file but then I'd need to pull in something to bundle the js files properly to the dist folder and I'd rather not do that.

[code]

[2022-02-24 15:52] kelson42 commented on #69
@kelvinhammond I understand the problem with `any` but I'm far too incompetent to be able to discuss the solution with you. The overall approach is to be strict as much as possible, therefore our move a few years ago to typescript and my recommendation to use the types if possible. But if this is blocking you, I guess (like you looks like) we should move forward and open a dedicated ticket to hand

[2022-03-02 07:16] kelvinhammond commented on #69
We'll still need typescript for mwoffliner, still trying to find something that works.

[2022-03-07 06:19] kelvinhammond commented on #69
I figured something out, now for the tedious work of writing tests and defining classes in typescript.

[2022-04-13 04:53] kelvinhammond commented on #69
### _**I don't think this will take too long to do**_
So that was a lie.
PR here https://github.com/openzim/node-libzim/pull/72/files

[2022-04-13 05:19] kelson42 commented on #69
@kelvinhammond To me it looks like you are making progress and things are on track even if this is widely more complex than you assessed at start. Right?

[2022-04-13 05:44] kelvinhammond commented on #69
Yep, this version is pretty much done as far as I know so far.

[2022-04-13 09:18] kelson42 commented on #69
@kelvinhammond Not that I believe that I could make a quality review of your code, but let me know explicitly please when you are over with your effort.

[2022-04-16 04:48] kelvinhammond commented on #69
@kelson42 Its ready

[2022-07-10 09:22] kelson42 opened #79 "Remove ability to compress using lzma"
See https://github.com/openzim/mwoffliner/issues/1642 and https://github.com/openzim/libzim/issues/714

[2022-07-19 03:21] kelvinhammond commented on #79
@kelson42 This should be fixed in both of those PRs.

[2022-08-16 06:11] kelvinhammond opened #80 "Segmentation Fault when using a custom item"
In libzim v8 when using a custom item and adding a lot of objects to a zim file it will throw a segmentation fault error after about 10,000 items have been inserted.

The error has been reported to  [nodejs/node-addon-api](https://github.com/nodejs/node-addon-api) below.

It appears to be related to:
- the persistent object reference being lost or garbage collected before the object and function c

[2022-08-17 07:38] #69 closed

[2022-08-17 07:38] #79 closed

[2022-08-17 15:24] kelvinhammond opened #81 "Update README for libzim 8 usage"

[2022-10-16 02:11] zhuowei opened #82 "Feature request: add prebuilt libzim for Linux aarch64"
On Fedora 35 for aarch64 (in VMWare Fusion on macOS Apple Silicon), installing node-libzim gives the error:

[code]

node-libzim should provide a prebuilt libzim for aarch64 or, if not possible, check for non-x86_64 linux and avoid using the built-in library.

[2022-10-16 14:18] kelvinhammond opened #83 "Release 3.0.0"
- [x] Secure the CI is green on git `master`
- [x] Update the Changelog
- [x] Update version
- [x] Create a tag on git
- [x] Secure new version is published on https://www.npmjs.com/package/openzim/libzim
- [x] Update the Github release with the Changelog
- [ ] Create new empty entry in Changelog (placeholder for future entries)
- [ ] Close current milestone and create new one incrementaly (_a pri

[2022-10-16 14:21] kelson42 commented on #83
I’m not confortable to release as soon as #80 is not fixed. It’s a regression and MWoffliner will be stringly impacted. Right?

[2022-10-16 16:39] kelson42 commented on #82
This directly depends on https://github.com/kiwix/kiwix-build/issues/528

[2022-11-05 23:21] kelvinhammond commented on #83
Probably, not sure how we'll fix that, I'll run the test suite later and see just how bad it is.

[2022-11-26 09:03] kelson42 commented on #82
Depends on https://github.com/kiwix/kiwix-build/issues/549